<nav class="navbar justify-content-start">
  <div class="col-8">
       <a class="navbar-brand" href="#">
          <img id="Woltbrand" src="../../assets/img/logo.png" alt="Wolt">
      </a>
  </div>
  <div class="d-flex flex-row justify-content-end col-4">
      <button class="btn" type="button">
        <div class="logform" routerLink='/login'>
            Login
        </div>
      </button>
      <div class="vl"></div>
      <button class="btn" type="button">
            <div class="logform" routerLink='/signup'>
                Sign up
            </div>
      </button>
  </div>
</nav>
<hr>
<main>
<div class="d-inline-flex flex-column" style="top: 13vh;left: 58vw; position: relative;">
    <div id="sloganLanding">
        Discover and <br>get great <br>food.
    </div>
    <div class="flex-row">
        <button class="btn" type="button">
          <img class="app-btn" src="../assets/img/appstore-button.png">
        </button>
        <button class="btn" type="button">
          <img class="app-btn" src="../assets/img/google-play-badge.png">
        </button>
    </div>
    
</div>
</main>
<footer>

</footer>