<div class="row categorias-cards">
    <div *ngFor="let categoria of categorias" class="card bg-dark col-sm-6 col-md-6 col-lg-4 p-0 my-2" [style.background-color]="categoria.color">
        <img [src]="categoria.imagen" class="card-img" alt="...">
        <div class="card-img-overlay">
          <div [style.color]="categoria.font" [style.text-shadow]="categoria.shadow">
            <h5 class="card-title">{{categoria.nombreCategoria}}</h5>
            <p class="card-text">{{categoria.descripcion}}</p>
          </div>
        </div>
    </div>
</div>

