@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

html{
    width: 100vw;
    height: 100vh;
}
body{
    min-width: 100vw;
    min-height: 100vh;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #00C1E8;
}
hr{
    margin: 0;
}
#categoryCards{
    padding-top: 20px;
}
#Woltbrand{
    width: 192px;
  }
fa-icon{
    font-size: 30px;
}
.modalPedido{
    font-family: 'Candal';
}
#mapa_direccion{
    width:100vw;
    height: 50vh;
}