<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/usuarios">
            <img id="Woltbrand" src="../../assets/img/Landing-page/logo.png">
        </a>
        <form class="d-flex">
            <button type="button" class="btn">
                <fa-icon [icon]="faList"></fa-icon>
            </button>
            <button type="button" class="btn">
                <fa-icon [icon]="faUser"></fa-icon>
            </button>
            <button type="button" class="btn">
                <fa-icon [icon]="faDoor"></fa-icon>
            </button>
        </form>
    </div>
</nav>
<hr>
<main>
    <div class="container" id="categoryCards">
        <app-categorias></app-categorias>
    </div>
</main>

