<style>
  body,html{
    height: 100%;
    width: 100%;
  }
  hr{
    margin: 0;
  }
  .logform{
    font-family: 'Cambay';
    font-size: 36px; 
  }
  .vl{
    border: 1px solid #000000;
  }
  #Woltbrand{
    width: 192px;
  }
  main{
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/img/wolt-landing-2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
  }
  footer{
      background-color: #0EC0F8;
      height: 20vh;
      position: relative;
      width:100vw;
  }
  #sloganLanding{
      line-height: 1.6;
      font-family: 'Candal';

      font-size: 5vw;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      color: #57CDF2;
      position: relative;
  }
  .form{
      border-radius: 15px;
      position: relative;
      height: 5vw;
      width: 30vw;
  }
  .app-btn{
    height: 4vw;
  }

</style>

<nav class="navbar justify-content-start">
  <div class="col-8">
       <a class="navbar-brand" href="#">
          <img id="Woltbrand" src="../assets/img/logo.png" alt="Wolt">
      </a>
  </div>
  <div class="d-flex flex-row justify-content-end col-4">
      <button class="btn" type="button">
          <div class="logform">
              Login
          </div>
      </button>
      <div class="vl"></div>
      <button class="btn" type="button">
          <div class="logform">
              Sign up
          </div>
      </button>
  </div>
</nav>
<hr>
<main>
  
  <div class="d-inline-flex flex-column" style="top: 13vh;left: 58vw; position: relative;">
      <div id="sloganLanding">
          Discover and <br>get great <br>food.
      </div>
      <div class="flex-row">
          <button class="btn" type="button">
            <img class="app-btn" src="../assets/img/appstore-button.png">
          </button>
          <button class="btn" type="button">
            <img class="app-btn" src="../assets/img/google-play-badge.png">
          </button>
      </div>
      
  </div>
  
</main>
<footer>

</footer>

<router-outlet></router-outlet>
